App_WebReferences/dsiauvmx/wsSERUVNotif.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="pCreaNotif">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="op" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KeyWsSeruv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMailsTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pCreaNotifResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCreaNotifResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="pCreaNotifSoapIn">
    <wsdl:part name="parameters" element="tns:pCreaNotif" />
  </wsdl:message>
  <wsdl:message name="pCreaNotifSoapOut">
    <wsdl:part name="parameters" element="tns:pCreaNotifResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSeruvNotifSoap">
    <wsdl:operation name="pCreaNotif">
      <wsdl:input message="tns:pCreaNotifSoapIn" />
      <wsdl:output message="tns:pCreaNotifSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSeruvNotifSoap" type="tns:wsSeruvNotifSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pCreaNotif">
      <soap:operation soapAction="http://tempuri.org/pCreaNotif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSeruvNotifSoap12" type="tns:wsSeruvNotifSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pCreaNotif">
      <soap12:operation soapAction="http://tempuri.org/pCreaNotif" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsSeruvNotif">
    <wsdl:port name="wsSeruvNotifSoap" binding="tns:wsSeruvNotifSoap">
      <soap:address location="https://dsia.uv.mx/WsPortal/wsSistemas/wsSERUVNotif/wsSERUVNotif.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSeruvNotifSoap12" binding="tns:wsSeruvNotifSoap12">
      <soap12:address location="https://dsia.uv.mx/WsPortal/wsSistemas/wsSERUVNotif/wsSERUVNotif.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>