Service References/wsADPrincipal/ServAD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServAD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dsia.uv.mx/WebServices/wsad/ServAD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dsia.uv.mx/WebServices/wsad/ServAD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dsia.uv.mx/WebServices/wsad/ServAD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServAD_obtieneInformacionUsuarioAD_InputMessage">
    <wsdl:part name="parameters" element="tns:obtieneInformacionUsuarioAD" />
  </wsdl:message>
  <wsdl:message name="IServAD_obtieneInformacionUsuarioAD_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtieneInformacionUsuarioADResponse" />
  </wsdl:message>
  <wsdl:message name="IServAD_usuarioADValido_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioADValido" />
  </wsdl:message>
  <wsdl:message name="IServAD_usuarioADValido_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioADValidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServAD_usuarioADValidoDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioADValidoDocente" />
  </wsdl:message>
  <wsdl:message name="IServAD_usuarioADValidoDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioADValidoDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServAD_existeUsuarioAD_InputMessage">
    <wsdl:part name="parameters" element="tns:existeUsuarioAD" />
  </wsdl:message>
  <wsdl:message name="IServAD_existeUsuarioAD_OutputMessage">
    <wsdl:part name="parameters" element="tns:existeUsuarioADResponse" />
  </wsdl:message>
  <wsdl:message name="IServAD_actualizaPasswordUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizaPasswordUsuario" />
  </wsdl:message>
  <wsdl:message name="IServAD_actualizaPasswordUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizaPasswordUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServAD">
    <wsdl:operation name="obtieneInformacionUsuarioAD">
      <wsdl:input wsaw:Action="http://tempuri.org/IServAD/obtieneInformacionUsuarioAD" message="tns:IServAD_obtieneInformacionUsuarioAD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServAD/obtieneInformacionUsuarioADResponse" message="tns:IServAD_obtieneInformacionUsuarioAD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioADValido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServAD/usuarioADValido" message="tns:IServAD_usuarioADValido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServAD/usuarioADValidoResponse" message="tns:IServAD_usuarioADValido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioADValidoDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServAD/usuarioADValidoDocente" message="tns:IServAD_usuarioADValidoDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServAD/usuarioADValidoDocenteResponse" message="tns:IServAD_usuarioADValidoDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="existeUsuarioAD">
      <wsdl:input wsaw:Action="http://tempuri.org/IServAD/existeUsuarioAD" message="tns:IServAD_existeUsuarioAD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServAD/existeUsuarioADResponse" message="tns:IServAD_existeUsuarioAD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizaPasswordUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServAD/actualizaPasswordUsuario" message="tns:IServAD_actualizaPasswordUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServAD/actualizaPasswordUsuarioResponse" message="tns:IServAD_actualizaPasswordUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServAD" type="tns:IServAD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtieneInformacionUsuarioAD">
      <soap:operation soapAction="http://tempuri.org/IServAD/obtieneInformacionUsuarioAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioADValido">
      <soap:operation soapAction="http://tempuri.org/IServAD/usuarioADValido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioADValidoDocente">
      <soap:operation soapAction="http://tempuri.org/IServAD/usuarioADValidoDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existeUsuarioAD">
      <soap:operation soapAction="http://tempuri.org/IServAD/existeUsuarioAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaPasswordUsuario">
      <soap:operation soapAction="http://tempuri.org/IServAD/actualizaPasswordUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServAD">
    <wsdl:port name="BasicHttpBinding_IServAD" binding="tns:BasicHttpBinding_IServAD">
      <soap:address location="http://dsia.uv.mx/WebServices/wsad/ServAD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>